// Define your color variables
$scrollbar-thumb-color: $primary;
$scrollbar-track-color: transparent;
$scrollbar-hover-color: $primary;

// Mixin to generate scrollbar styles
@mixin scrollbar(
  $direction,
  $size: 8px,
  $thumb-radius: 10px,
  $track-radius: 10px,
  $transition-speed: 0.3s
) {
  overflow-#{$direction}: scroll;

  &::-webkit-scrollbar {
    width: if($direction == "y", $size, 0);
    height: if($direction == "x", $size, 0);
  }

  &::-webkit-scrollbar-track {
    border-radius: $track-radius;
    background-color: $scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: $thumb-radius;
    background-color: $scrollbar-thumb-color;
    transition: background-color $transition-speed ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $scrollbar-hover-color;
  }
}

.scrollbar-x {
  @include scrollbar("x");
}

.scrollbar-y {
  @include scrollbar("y");
}
