.form {
  margin-top: 24px;
}

// FORM & FORM ELEMS CUSTOMIZATION
.form-label {
  font-family: $font-family-inter;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: $prussian-blue;
  margin-bottom: 0 !important;

  @include breakpoint-down(md) {
    font-size: 14px;
  }
}

.form-control, .form-select {
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 10px !important;
  background: $white;
  font-size: 14px;
  color: $prussian-blue;
  border: 1px solid $french-gray;

  &::placeholder {
    color: $slate-gray !important;
  }

  &:focus {
    border-color: rgba(68, 49, 141, 0.5) !important;
    box-shadow: 0 0 0 0.25rem rgba(68, 49, 141, 0.1) !important;
  }

  @include breakpoint-down(md) {
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px !important;
    height: 46px;
  }

  @include breakpoint-down(sm) {
    height: 40px;
  }

  @include placeholder() {
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
  }

  &-sm {
    height: 40px;
    border-radius: 8px !important;
  }
}

.form-select{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2344318d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")!important;
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: right .75rem center;
}

.form-elem-ttl {
  margin-bottom: 12px;
  color: $rich-black;
  font-size: 28px;
  text-align: center;
}

textarea {
  &.form-control {
    padding: 16px;
    height: 130px;

    @include breakpoint-down(md) {
      padding: 14px;
    }
  }
}

.form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 4px;

  &:checked{
    background-color: $primary!important;
    border-color: $primary!important;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba(68, 49, 141, 0.2) !important;
  }
}

.form-elem {
  display: grid;
  row-gap: 8px;

  @include breakpoint-down(md) {
    row-gap: 10px;
  }

  @include breakpoint-down(sm) {
    row-gap: 8px;
  }
}

.form-elem-group {
  display: grid;
  row-gap: 20px;

  @include breakpoint-down(md) {
    row-gap: 16px;
  }

  @include breakpoint-down(sm) {
    row-gap: 12px;
  }
}

.form-check .form-label {
  margin-left: 6px;
}

.form-link {
  color: $primary;
  text-decoration: underline;
  transition: $default-transition;

  &:hover {
    opacity: 0.9;
  }
}

.form-error-text {
  font-size: 12px;
  color: map-get($accent-color-list, "error");
  font-weight: 400;
  margin-top: -8px;
}

.form-elem-wrapper {
  position: relative;

  .form-elem-icon {
    position: absolute;
    right: 20px;
    top: 22px;
    transform: translateY(-50%);

    .fa-eye{
      display: none;
    }

    &.show-password{
      .fa-eye-slash{
        display: none;
      }
      .fa-eye{
        display: inline-flex;
      }
    }
  }
}
