// ICONS
%icon-common {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

$icon-sizes: (40, 36, 32, 24, 20, 16);

@each $size in $icon-sizes {
    .icon-#{$size} {
        @include box($size + px, $size + px);
        min-width: $size + px;
        min-height: $size + px;
        @extend %icon-common;
    }
}

[class*="icon"] {
	speak: none;
}
