.datatable-pagination {
    .pagination{
        gap: 6px;
    }
    .page-item {
        .page-link {
            border-radius: 8px !important;
            border: 1px solid $primary-200;
            background: $white;
            color: $prussian-blue !important;
            min-width: 40px;
            height: 40px;
            text-align: center;
            transition: $default-transition;

            &.active,
            &:hover {
                border-radius: 8px;
                border: 1px solid $primary-500 !important;
                background: $primary-100 !important;
                color: $primary !important;
            }

            &:focus{
                box-shadow: none!important;
            }

            &.icon-link{
                background: $primary;
                color: $white!important;
            }
        }
    }
}
