$payne-grey: #475569;
$black: #000;
$white: #fff;
$prussian-blue: #1e293b;
$french-gray: #cbd5e1;
$primary: #44318d;
$primary-light: #4F3C98;
$secondary: #ffc000;
$slate-gray: #64748b;
$rich-black: #161c24;
$gunmetal: #212b36;
$gray-600: #637381;


$colors: (
  payne-grey: #475569,
  black: #000,
  white: #fff,
  prussian-blue: #1e293b,
  french-gray: #cbd5e1,
  primary: #44318d,
  primary-light: #4F3C98,
  secondary: #ffc000,
  slate-gray: #64748b,
  rich-black: #161c24,
  gunmetal: #212b36,
  gray-600: #637381
);

$accent-color-list: (
  success: #008656,
  info: #17a2b8,
  warning: #fcb92c,
  error: #dc3545
);
