// COLOR & BACKGROUND CLASSES
@mixin generate-color-classes($prefix, $property) {
  @each $color-name, $color in $colors {
    #{$prefix}-#{"" + $color-name} {
      #{$property}: $color !important;
    }
  }
}
@include generate-color-classes(".text", "color");
@include generate-color-classes(".bg", "background-color");

// FONT WEIGHT CLASSES
@mixin generate-font-weight-classes($prefix, $property) {
  @each $weight-name, $weight in $font-weights {
    #{$prefix}-#{$weight-name} {
      #{$property}: $weight !important;
    }
  }
}

@include generate-font-weight-classes(".font", "font-weight");

// OPACITY CLASSES
@mixin generate-opacity-classes($prefix, $property, $step: 5) {
  @for $i from 0 through 20 {
    #{$prefix}-#{$i * $step} {
      @if #{$i * $step} == "100" {
        #{$property}: 1;
      } @else {
        #{$property}: unquote("0." + #{$i * $step});
      }
    }
  }
}

@include generate-opacity-classes(".opacity", "opacity");

// FONT STACK CLASSES
$font-families: (
  dmsans: $font-family-dmsans,
  inter: $font-family-inter,
  calibri: $font-family-calibri
);

@mixin font-families($fonts) {
  @each $font-name, $font-family in $fonts {
    .font-#{$font-name} {
      font-family: $font-family;
    }
  }
}

@include font-families($font-families);

/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

/* SMOOTH FADING */
.fade-on-hover:hover {
  opacity: 0.9;
  transition: $default-transition;
}

/* REMOVE TRANSITION & ANIMATINO ON WINDOW RESIZE */
.resize-animation-stopper * {
  -webkit-animation: none !important;
  animation: none !important;
  transition: none !important;
}

/* OVERFLOW UTILS */
$overflow-values: (auto, hidden, clip, visible, scroll);

@each $value in $overflow-values {
  .overflow-#{$value} {
    overflow: #{$value};
  }
  .overflow-x-#{$value} {
    overflow-x: #{$value};
  }
  .overflow-y-#{$value} {
    overflow-y: #{$value};
  }
}

/* MAX & MIN WIDTH/HEIGHT UTILS */
$dimension-properties: (
  0: 0,
  100: 100%,
  100vh: 100vh
);

// Mixin to generate max/min width and height classes
@mixin dimension-classes($prefix, $property, $dimensions) {
  @each $dimension-name, $dimension-value in $dimensions {
    .#{$prefix}-#{$dimension-name} {
      #{$property}: $dimension-value !important;
    }
  }
}

// Generate max/min width and height classes using the mixin
@include dimension-classes("max-w", "max-width", $dimension-properties);
@include dimension-classes("max-h", "max-height", $dimension-properties);
@include dimension-classes("min-w", "min-width", $dimension-properties);
@include dimension-classes("min-h", "min-height", $dimension-properties);

/* TRANSITION UTILS */
.default-transition {
  transition: $default-transition;
}

/* CURSOR UTILS */
$cursor-styles: (
  pointer: pointer,
  default: default,
  help: help,
  wait: wait,
  text: text,
  grab: grab,
  move: move,
  not-allowed: not-allowed,
  crosshair: crosshair,
  none: none
);

@mixin cursor-classes($styles) {
  @each $style-name, $style-value in $styles {
    .cursor-#{$style-name} {
      cursor: $style-value !important;
    }
  }
}

@include cursor-classes($cursor-styles);

/* RESIZE UTILS */
$resize-directions: (none, vertical, horizontal, both);

@each $direction in $resize-directions {
  .resize-#{$direction} {
    resize: $direction;
  }
}

/* OBJECT FITTING */
$object-fits: (contain, cover, fill, none, scale-down);

@each $fit in $object-fits {
  .object-#{$fit} {
    object-fit: $fit;
  }
}

// OBJECT POSITION
$object-positions: (bottom, center, left, left-bottom, left-top, right, right-bottom, right-top, top);

@each $position in $object-positions {
  .object-#{$position} {
    object-position: str-replace($position, "-", " ");
  }
}

/* FLEX UTILS */
$flex-classes: (
  "flex-1": 1 1 0%,
  "flex-auto": 1 1 auto,
  "flex-initial": 0 1 auto,
  "flex-none": none
);

@each $class, $value in $flex-classes {
  .#{$class} {
    flex: #{$value};
  }
}

/* GRID UTILS */
// Grid Template Columns
@for $i from 1 through 12 {
  .grid-cols-#{$i} {
    grid-template-columns: repeat(#{$i}, 1fr);
  }
  .grid-rows-#{$i} {
    grid-template-rows: repeat(#{$i}, 1fr);
  }
}

// Grid Column Start / End
$grid-column-span-classes: (
  "col-auto": "auto",
  "col-span-1": "span 1 / span 1",
  "col-span-2": "span 2 / span 2",
  "col-span-3": "span 3 / span 3",
  "col-span-4": "span 4 / span 4",
  "col-span-5": "span 5 / span 5",
  "col-span-6": "span 6 / span 6",
  "col-span-7": "span 7 / span 7",
  "col-span-8": "span 8 / span 8",
  "col-span-9": "span 9 / span 9",
  "col-span-10": "span 10 / span 10",
  "col-span-11": "span 11 / span 11",
  "col-span-12": "span 12 / span 12",
  "col-span-full": "1 / -1"
);

$grid-column-start-classes: (
  "col-start-1": "1",
  "col-start-2": "2",
  "col-start-3": "3",
  "col-start-4": "4",
  "col-start-5": "5",
  "col-start-6": "6",
  "col-start-7": "7",
  "col-start-8": "8",
  "col-start-9": "9",
  "col-start-10": "10",
  "col-start-11": "11",
  "col-start-12": "12",
  "col-start-13": "13",
  "col-start-auto": "auto"
);

$grid-column-end-classes: (
  "col-end-1": "1",
  "col-end-2": "2",
  "col-end-3": "3",
  "col-end-4": "4",
  "col-end-5": "5",
  "col-end-6": "6",
  "col-end-7": "7",
  "col-end-8": "8",
  "col-end-9": "9",
  "col-end-10": "10",
  "col-end-11": "11",
  "col-end-12": "12",
  "col-end-13": "13",
  "col-end-auto": "auto"
);

@each $class, $value in $grid-column-span-classes {
  .#{$class} {
    grid-column: #{$value};
  }
}

@each $class, $value in $grid-column-start-classes {
  .#{$class} {
    grid-column-start: #{$value};
  }
}

@each $class, $value in $grid-column-end-classes {
  .#{$class} {
    grid-column-end: #{$value};
  }
}

$grid-row-span-classes: (
  "row-auto": "auto",
  "row-span-1": "span 1 / span 1",
  "row-span-2": "span 2 / span 2",
  "row-span-3": "span 3 / span 3",
  "row-span-4": "span 4 / span 4",
  "row-span-5": "span 5 / span 5",
  "row-span-6": "span 6 / span 6",
  "row-span-7": "span 7 / span 7",
  "row-span-8": "span 8 / span 8",
  "row-span-9": "span 9 / span 9",
  "row-span-10": "span 10 / span 10",
  "row-span-11": "span 11 / span 11",
  "row-span-12": "span 12 / span 12",
  "row-span-full": "1 / -1"
);

$grid-row-start-classes: (
  "row-start-1": "1",
  "row-start-2": "2",
  "row-start-3": "3",
  "row-start-4": "4",
  "row-start-5": "5",
  "row-start-6": "6",
  "row-start-7": "7",
  "row-start-8": "8",
  "row-start-9": "9",
  "row-start-10": "10",
  "row-start-11": "11",
  "row-start-12": "12",
  "row-start-13": "13",
  "row-start-auto": "auto"
);

$grid-row-end-classes: (
  "row-end-1": "1",
  "row-end-2": "2",
  "row-end-3": "3",
  "row-end-4": "4",
  "row-end-5": "5",
  "row-end-6": "6",
  "row-end-7": "7",
  "row-end-8": "8",
  "row-end-9": "9",
  "row-end-10": "10",
  "row-end-11": "11",
  "row-end-12": "12",
  "row-end-13": "13",
  "row-end-auto": "auto"
);

@each $class, $value in $grid-row-span-classes {
  .#{$class} {
    grid-row: #{$value};
  }
}

@each $class, $value in $grid-row-start-classes {
  .#{$class} {
    grid-row-start: #{$value};
  }
}

@each $class, $value in $grid-row-end-classes {
  .#{$class} {
    grid-row-end: #{$value};
  }
}

/* TEXT UTILS - CLAMP */
@for $i from 1 through 4 {
  .clamp-line-#{$i} {
    @include clamp(#{$i});
  }
}

/* TRANSFORMATION */
$rotations: (
  0: 0deg,
  1: 1deg,
  2: 2deg,
  3: 3deg,
  6: 6deg,
  12: 12deg,
  45: 45deg,
  90: 90deg,
  180: 180deg
);

@each $key, $value in $rotations {
  .rotate-#{$key} {
    transform: rotate(#{$value});
  }
}

/* BORDER RADIUS */
@for $i from 0 through 20 {
  .rounded-#{$i} {
    border-radius: #{$i}px !important;
  }
  .rounded-tl-#{$i} {
    border-top-left-radius: #{$i}px !important;
  }
  .rounded-tr-#{$i} {
    border-top-right-radius: #{$i}px !important;
  }
  .rounded-bl-#{$i} {
    border-bottom-left-radius: #{$i}px !important;
  }
  .rounded-br-#{$i} {
    border-bottom-right-radius: #{$i}px !important;
  }
  .rounded-t-#{$i} {
    border-top-left-radius: #{$i}px !important;
    border-top-right-radius: #{$i}px !important;
  }
  .rounded-b-#{$i} {
    border-bottom-left-radius: #{$i}px !important;
    border-bottom-right-radius: #{$i}px !important;
  }
  .rounded-l-#{$i} {
    border-top-left-radius: #{$i}px !important;
    border-bottom-left-radius: #{$i}px !important;
  }
  .rounded-r-#{$i} {
    border-top-right-radius: #{$i}px !important;
    border-bottom-right-radius: #{$i}px !important;
  }
}
.rounded-100vh {
  border-radius: 100vh !important;
}
.rounded-full {
  border-radius: 100% !important;
}

// WIDTH & HEIGHT
$wahrem-step: 0.5; // Step increment
$wahrem-step: 0.5;

// @for $i from 0 through 20 {
//   .w-#{$i * 10 * $wahrem-step} {
//     width: #{calc($i * $wahrem-step * 10) + "%"} !important;
//   }

//   .h-#{$i * 10 * $wahrem-step} {
//     height: #{calc($i * $wahrem-step * 10) + "%"} !important;
//   }
// }

// GAP
$gap-start: 4px;
$gap-increment: 4px;
$gap-count: 10;

.gap-x-0_5 {
  column-gap: 2px;
}

@for $i from 1 through $gap-count {
  .gap-#{$i} {
    gap: $gap-start + ($i - 1) * $gap-increment !important;
  }
  .gap-y-#{$i} {
    row-gap: $gap-start + ($i - 1) * $gap-increment;
  }
  .gap-x-#{$i} {
    column-gap: $gap-start + ($i - 1) * $gap-increment;
  }
}

// PADDINGS
$padding-values: (
  32: 32px,
  40: 40px,
  60: 60px,
  100: 100px,
  50: 50px
);

@each $padding, $value in $padding-values {
  .page-sc-py-#{$padding} {
    padding-top: $value;
    padding-bottom: $value;

    @include breakpoint-down(md) {
      padding-top: calc($value - 16px);
      padding-bottom: calc($value - 16px);
    }

    @include breakpoint-down(xs) {
      padding-top: calc($value - 24px);
      padding-bottom: calc($value - 24px);
    }
  }
  .page-sc-pt-#{$padding} {
    padding-top: $value;

    @include breakpoint-down(md) {
      padding-top: calc($value - 16px);
    }

    @include breakpoint-down(xs) {
      padding-top: calc($value - 24px);
    }
  }
  .page-sc-pb-#{$padding} {
    padding-bottom: $value;

    @include breakpoint-down(md) {
      padding-bottom: calc($value - 16px);
    }

    @include breakpoint-down(xs) {
      padding-bottom: calc($value - 24px);
    }
  }
}

@mixin display-utilities {
  .show-block {
    @extend %display-block;
  }
  .show-flex {
    @extend %display-flex;
  }
  .hide {
    @extend %display-none;
  }
}

@include display-utilities;

// NEGATIVE MARGINS
$negative-margin-values: (
  1: 4px,
  2: 8px,
  3: 12px
);

@each $key, $value in $negative-margin-values {
  .-mt-#{$key} {
    margin-top: -#{$value};
  }
  .-mb-#{$key} {
    margin-bottom: -#{$value};
  }
  .-ms-#{$key} {
    margin-left: -#{$value};
  }
  .-me-#{$key} {
    margin-right: -#{$value};
  }
}

// PADDING CLASSES
$padding-values: (12, 20, 32);

@each $value in $padding-values {
  .pt-custom-#{$value} {
    padding-top: #{$value}px;
  }
  .pb-custom-#{$value} {
    padding-bottom: #{$value}px;
  }
  .py-custom-#{$value} {
    padding-top: #{$value}px;
    padding-bottom: #{$value}px;
  }
}

$margin-values: (12, 20);

@each $value in $margin-values {
  .ms-custom-#{$value} {
    margin-left: #{$value}px !important;
  }
  .me-custom-#{$value} {
    margin-right: #{$value}px;
  }
  .mt-custom-#{$value} {
    margin-top: #{$value}px;
  }
  .mb-custom-#{$value} {
    margin-bottom: #{$value}px;
  }
  .my-custom-#{$value} {
    margin-top: #{$value}px;
    margin-bottom: #{$value}px;
  }
}

$border-colors: (
  gray-200: #E2E8F0
);

$directions: (
  "": null,
  "b-": bottom,
  "t-": top,
  "r-": right,
  "l-": left
);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px
);

@each $color-name, $color-value in $border-colors {
  @each $direction-prefix, $direction-name in $directions {
    @each $width-key, $width-value in $border-widths {
      .border-#{$direction-prefix}#{$color-name}-#{$width-key} {
        @if ($direction-name) {
          border-#{$direction-name}: #{$width-value} solid #{$color-value} !important;
        } @else {
          border: #{$width-value} solid #{$color-value} !important;
        }
      }
    }
  }
}

// SHADOW
$shadows: (
  "sm": 0 1px 2px 0 rgba(0, 0, 0, 0.05),
  "base": (
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1)
  ),
  "md": (
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1)
  ),
  "lg": (
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1)
  ),
  "xl": (
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1)
  ),
  "2xl": 0 25px 50px -12px rgba(0, 0, 0, 0.25),
  "inner": inset 0 2px 4px 0 rgba(0, 0, 0, 0.05),
  "none": none
);

@each $key, $value in $shadows {
  .shadow-#{$key} {
    @if type-of($value) == list {
      box-shadow: $value;
    } @else {
      box-shadow: $value;
    }
  }
}

// LINE HEIGHTS
$leading-classes: (
  "leading-3": 0.75rem,
  // 12px
  "leading-4": 1rem,
  // 16px
  "leading-5": 1.25rem,
  // 20px
  "leading-6": 1.5rem,
  // 24px
  "leading-7": 1.75rem,
  // 28px
  "leading-8": 2rem,
  // 32px
  "leading-9": 2.25rem,
  // 36px
  "leading-10": 2.5rem,
  // 40px
  "leading-none": 1,
  "leading-tight": 1.25,
  "leading-snug": 1.375,
  "leading-normal": 1.5,
  "leading-relaxed": 1.625,
  "leading-loose": 2
);

@each $class, $value in $leading-classes {
  .#{$class} {
    line-height: $value;
  }
}

// MISC
.pointer-event-none {
  pointer-events: none;
}

a.hover-theme{
  transform: $default-transition;
  &:hover, &:hover span{
    color: $primary!important;
  }
}
.hover-underline{
  &:hover{
    text-decoration: underline !important;
  }
}
.hover-scale{
  transition: $default-transition;
  &:hover{
    scale: 1.1;
  }
}

.grid-cols-sm-1{
  @include breakpoint-down(sm){
    grid-template-columns: 100%;
  }
}

.invert-white{
  filter: invert(1) brightness(100);
}