// NAVBAR
$navbar-height-desktop: 45px;
$navbar-height-mobile: 45px;
$navbar-bg: $white;
$navbar-link-color: $payne-grey;
$navbar-hover-link-color: darken($payne-grey, 10%);
$z-index-navbar: 1000;
$z-index-navbar-toggler: 1010;
