.admin-main {
  margin-left: 260px;
  height: 100%;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint-down(lg) {
    margin-left: 0;
  }
}

.admin-appbar {
  padding: 16px 32px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 6px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 260px;
  background: $white;
  z-index: map-get($z-index, "sky");
  column-gap: 16px;

  @include breakpoint-down(lg) {
    margin-left: 0;
  }

  .appbar-search {
    &-form {
      flex: 1;
      width: 100%;
      max-width: 480px;
    }

    &-icon {
      height: 40px;
      width: 40px;

      &:focus,
      &:focus-visible {
        color: $white !important;
      }
    }
  }

  .notification-btn {
    .icon-text {
      background: map-get($accent-color-list, "error");
      top: -6px;
      left: 14px;
    }
  }

  .profile-btn {
    &-img {
      width: 40px;
      height: 40px;
      outline: 3px solid rgba(255, 255, 255, 0.2);
      outline-offset: -3px;

      img {
        border-radius: 100%;
      }
    }

    &::after {
      display: none;
    }
  }
}

.admin-content {
  background: rgb(244, 246, 248);
  flex: 1;
  padding: 16px 32px;
  margin-top: 80px;

  @include breakpoint-down(lg) {
    padding: 16px;
  }
}

.list-styled-disc {
  list-style-type: disc;
}

// DROPDOWN
.dropdown-menu {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08);

  .dropdown-item {
    transition: $default-transition;
    margin: 4px 0;

    &:hover {
      background: $primary-light;
      border-radius: 4px;
      color: $white !important;
      box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08);
    }
  }
}

// USER DETAILS PAGE
.user-details-head {
  .user-head-top {
    height: 160px;
    background: url(../images/user_banner.jpeg) center/cover no-repeat;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .user-head-avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: -60px;
    left: 20px;
    outline: 4px solid rgba(255, 255, 255, 0.2);
  }

  .user-head-bottom {
    padding: 70px 20px 20px 20px;
  }
}

.promptdata {
  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08);
  padding: 32px;
  margin: 24px 0;
  max-width: 920px;

  @include breakpoint-down(lg) {
    padding: 24px;
    margin: 20px 0;
  }

  @include breakpoint-down(sm) {
    padding: 20px;
  }

  @include breakpoint-down(xs) {
    padding: 16px;
  }
}

.promptdata-list {
  max-height: 300px;
  overflow-y: scroll;
}

.promptdata-item {
  padding: 16px;
  border-radius: 8px;
  grid-template-columns: 40px auto;
  gap: 16px;
  position: relative;

  @include breakpoint-down(sm) {
    padding: 12px;
  }
}

.promptdata-item-text.text-prussian-blue p {
  color: $prussian-blue !important;
}

.promptdata-toolbar {
  button {
    padding: 4px;
    border-radius: 4px;
    transition: $default-transition;
    &:hover {
      background: $primary-100;
      .btn-icon {
        color: $primary;
      }
    }
  }
}

// DASHBOARD PAGE
.admin-dashboard {
  margin-bottom: 40px;
}

.dash-head {
  min-height: 200px;
  background-image: linear-gradient(43deg, #44318d 0%, #57409e 46%, #36247f 100%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px;

  @include breakpoint-down(md) {
    min-height: auto;
  }
}

.dash-card {
  padding: 32px 24px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 6px;
  border: 0 !important;
  margin-top: -80px;

  @include breakpoint-down(md) {
    margin-top: 0;
  }
}

.dash-cards {
  padding: 0 40px;

  @include breakpoint-down(md) {
    grid-template-columns: 100% !important;
    margin-top: 32px;
    padding: 0;
  }
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $white;

  .loader {
    position: relative;
    z-index: 1002;
  }
}
