.admin-panel {
}

.admin-sidebar-overlay {
  transition: $default-transition;
  @include breakpoint-down(lg) {
    &.show-sidebar-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: $z-low;
    }
  }
}

.admin-sidebar {
  padding: 24px 20px;
  width: 260px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0 2px 4px 4px rgba(13, 23, 33, 0.18);
  z-index: $z-high;
  transition: $default-transition;

  @include breakpoint-down(lg) {
    transform: translateX(-100%);

    &.show-sidebar {
      transform: translateX(0);
    }
  }

  .sidebar-menu {
    .menu-item {
      width: 100%;
      padding: 14px 16px;

      &-icon {
        color: $white;
        transition: $default-transition;
      }

      &-text {
        transition: $default-transition;
      }

      &:hover,
      &.active {
        .menu-item-icon {
          color: $white;
        }
        .menu-item-text {
          color: $white !important;
        }
      }

      &.active {
        background: darken($primary, 8%);
        border-radius: 8px;
      }
    }
  }
}

.admin-main {
  margin-left: 260px;
  height: 100%;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint-down(lg) {
    margin-left: 0;
  }
}

.admin-appbar {
  padding: 16px 32px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 6px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 260px;
  background: $white;

  @include breakpoint-down(lg){
    margin-left: 0;
  }

  .appbar-search {
    &-form {
      flex: 1;
      width: 100%;
      max-width: 480px;
    }

    &-icon {
      height: 40px;
      width: 40px;

      &:focus,
      &:focus-visible {
        color: $white !important;
      }
    }
  }

  .notification-btn {
    .icon-text {
      background: map-get($accent-color-list, "error");
      top: -6px;
      left: 14px;
    }
  }

  .profile-btn {
    &-img {
      width: 40px;
      height: 40px;
      outline: 3px solid rgba(255, 255, 255, 0.2);
      outline-offset: -3px;

      img {
        border-radius: 100%;
      }
    }

    &::after{
      display: none;
    }
  }
}

.admin-content {
  background: rgb(244, 246, 248);
  flex: 1;
  padding: 16px 32px;
  margin-top: 80px;
}


// DROPDOWN
.dropdown-menu{
  padding: 12px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08);

  .dropdown-item{
    transition: $default-transition;
    
    &:hover{
      background: $primary-light;
      border-radius: 4px;
      color: $white!important;
      box-shadow: 0 2px 4px 0 rgba(13, 23, 33, 0.08);
    }
  }
}

